*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

a {
  color: black;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.flex-jcc-aic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-jcc-ais {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column-jcc-aifs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.link--one {
  color: white;
  background-color: #0b2545;
  border: 0.2em solid #0b2545;
}
.link--one:hover {
  color: #0b2545;
  background-color: white;
}

.link--two {
  color: #0b2545;
  border: 0.2em solid #0b2545;
}
.link--two:hover {
  color: white;
  background-color: #0b2545;
}
