.navbar {
  background-color: #0b2545;
  font-size: 1vw;
  padding: 2em;
  color: white;
  position: relative;
  &__buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "s l"
      "t t";
    gap: 2em 0em;
    margin-bottom: 2em;
    img {
      width: 1.75em;
      margin-right: 1em;
    }

    a,
    .todaytask {
      color: white;
      display: flex;
      align-items: center;
    }
    .buttons:nth-child(1) {
      grid-area: s;
    }
    .buttons:nth-child(2) {
      grid-area: l;
    }
    .todaytask {
      grid-area: t;

      span {
        margin-left: auto;
      }
    }
  }

  &__button--createworkspace {
    background-color: #265caa;
    text-align: center;
    margin-top: auto;
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 0.75em;
    cursor: pointer;
  }

  &__taskcontainer {
    overflow-y: scroll;
    max-height: 32em;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
  &__image {
    width: 15%;
    margin-right: 1em;
  }

  &__name {
    color: white;
  }
}

.mytask {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    img {
      width: 2em;
    }
  }

  &__list {
    color: black;
    background-color: #eef4ed;
    // padding: 0.5em;

    .list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25em;
      cursor: pointer;
      padding: 0.5em;
    }

    .list:hover {
      background-color: #265caa;
      color: #eef4ed;
    }
  }
}

.workspace {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    img {
      width: 2em;
    }
  }

  &__list {
    color: black;
    background-color: #eef4ed;
    // padding: 0.5em;

    .list {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.25em;
      cursor: pointer;
      padding: 0.5em;
    }

    .list:hover {
      background-color: #265caa;
      color: #eef4ed;
    }
  }
}

.buttonwrapper {
  text-align: center;
  padding: 0.5em;
}

.addList {
  font-size: 1vw;
  margin: 0 auto;
  background-color: #265caa;
  color: white;
  border: none;
  padding: 0.25em 1em;
  cursor: pointer;
}
