.main {
  font-size: 1vw;
  margin-top: 2rem;
  padding: 0em 5em;
  display: grid;
  grid-template-areas: "t t t" "f f i" "f f i";
  gap: 3em;
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-template-rows: auto auto;
}
.main__title {
  grid-area: t;
  text-align: center;
  font-size: 2em;
  color: #0b2545;
  font-weight: 500;
}
.main__features {
  grid-area: f;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 0.4fr);
  gap: 2em 4em;
  font-size: 1.2em;
  text-align: center;
  padding: 2em 3em;
}
.main__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #0b2545;
  border: 0.25em solid #0b2545;
  border-radius: 0.5em;
  padding: 1em 0.5em;
  box-shadow: 0em 0em 1em -0.15em hsla(0deg, 0%, 0%, 0.5);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.main__card:hover {
  transform: scale(1.05);
  box-shadow: 0em 0em 1em -0.35em hsla(0deg, 0%, 0%, 0.5);
}
.main__card p {
  margin-top: 1em;
  font-weight: bold;
}
.main__card_img {
  width: 4em;
  margin: auto;
}
.main__image {
  grid-area: i;
}
