.header {
  align-items: initial;
  width: 100%;
  font-size: 1vw;
  padding: 4em;
  color: #0b2545;
}
.header__left {
  width: 50%;
  position: relative;
}
.header__left_img {
  position: absolute;
  bottom: 0em;
}
.header__right {
  width: 30%;
  margin-left: 3em;
}
.header__title {
  font-size: 5vw;
  color: #034fad;
}
.header__summary {
  font-size: 2vw;
  font-weight: bold;
  margin: 0em 0em 1em;
}
.header__desc {
  font-size: 1.3vw;
}
.header__links {
  font-size: 1.5vw;
  font-weight: bold;
  margin: 5em 0em 0em;
}
.header__link {
  font-size: 1em;
  padding: 0.25em 2em;
  cursor: pointer;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}
.header__link:nth-child(2) {
  margin-left: 2em;
}

@media only screen and (max-width: 768px) {
  .header__left_img {
    max-width: 15rem;
    bottom: -4 rem;
  }
}
