.main {
  font-size: 1vw;
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: 100vh;
  position: relative;
}

.left {
  background: url(../assets/pattern.jpg) center #0b2545;
  /* background-size: cover; */
  background-size: 10em;
}

.right {
  font-size: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
}

.right h1 {
  text-align: center;
  color: #0b2545;
  margin-bottom: 1em;
}

.right p {
  font-size: 0.5em;
  text-align: center;
  margin-top: 1em;
}
.right p > a {
  color: blue;
  text-decoration: underline;
}

.form {
  font-size: 1vw;
}

.form__input {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.form__input input {
  width: 90%;
  height: 2em;
  font-size: 1.5em;
  outline: none;
  padding: 0.25em;
  border: 0.2em solid #0b2545;
}
.form__input input:focus {
  border-color: #034fad;
}

.form__error {
  color: red;
  text-align: center;
  font-size: 1em;
  margin-bottom: 1em;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.actions button {
  background-color: #0b2545;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  border: none;
}

.actions a {
  text-decoration: none;
  background-color: #034fad;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
  padding: 0.5em 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  border: none;
}

.actions button:hover {
  background-color: #0b2545;
}

.actions a:hover {
  background-color: #0b2545;
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .left {
    position: absolute;
    height: 100%;
    width: 30vw;
  }

  .right {
    position: absolute;
    left: 5rem;
  }
  .form {
    padding: 8rem;
    font-size: 0.8rem;
  }
}
