@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.navbar {
  background-color: #0b2545;
  font-size: 1vw;
  padding: 2em;
  color: white;
  position: relative;
}
.navbar__buttons {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "s l" "t t";
  gap: 2em 0em;
  margin-bottom: 2em;
}
.navbar__buttons img {
  width: 1.75em;
  margin-right: 1em;
}
.navbar__buttons a,
.navbar__buttons .todaytask {
  color: white;
  display: flex;
  align-items: center;
}
.navbar__buttons .buttons:nth-child(1) {
  grid-area: s;
}
.navbar__buttons .buttons:nth-child(2) {
  grid-area: l;
}
.navbar__buttons .todaytask {
  grid-area: t;
}
.navbar__buttons .todaytask span {
  margin-left: auto;
}
.navbar__button--createworkspace {
  background-color: #265caa;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5em 0.75em;
  cursor: pointer;
}
.navbar__taskcontainer {
  overflow-y: scroll;
  max-height: 32em;
}
.navbar__taskcontainer::-webkit-scrollbar {
  display: none;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}
.user__image {
  width: 15%;
  margin-right: 1em;
}
.user__name {
  color: white;
}

.mytask__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}
.mytask__title img {
  width: 2em;
}
.mytask__list {
  color: black;
  background-color: #eef4ed;
}
.mytask__list .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
  cursor: pointer;
  padding: 0.5em;
}
.mytask__list .list:hover {
  background-color: #265caa;
  color: #eef4ed;
}

.workspace__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}
.workspace__title img {
  width: 2em;
}
.workspace__list {
  color: black;
  background-color: #eef4ed;
}
.workspace__list .list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
  cursor: pointer;
  padding: 0.5em;
}
.workspace__list .list:hover {
  background-color: #265caa;
  color: #eef4ed;
}

.buttonwrapper {
  text-align: center;
  padding: 0.5em;
}

.addList {
  font-size: 1vw;
  margin: 0 auto;
  background-color: #265caa;
  color: white;
  border: none;
  padding: 0.25em 1em;
  cursor: pointer;
}

.dashboard {
  font-size: 1vw;
  display: grid;
  grid-template-rows: 7% 7% 86%;
  grid-template-columns: 60% 40%;
  grid-template-areas: "title title" "member member" "main active";
}
.dashboard .listname {
  grid-area: title;
}
.dashboard .member__container {
  grid-area: member;
}
.dashboard .todolist {
  grid-area: main;
}
.dashboard .activetask {
  grid-area: active;
  background-color: #265caa;
}

.listname,
.member__container {
  background-color: #0b2545;
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding: 0.5em;
}

.member__container {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  align-items: center;
}
.member__container button {
  background-color: #265caa;
  color: white;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 0.75em;
}

.todolist {
  display: grid;
  grid-template-rows: 45% 5% 40% 10%;
}
.todolist__subtitle,
.todolist__input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todolist__subtitle {
  background-color: #265caa;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todolist__input input {
  width: 90%;
  outline: none;
  border: 0.2em solid #0b2545;
  font-size: 1em;
  padding: 0.5em;
}
.todolist__active,
.todolist__completed {
  max-height: 40em;
  overflow-y: scroll;
}
.todolist__active .task,
.todolist__completed .task {
  padding: 1em;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: color 100ms ease-in-out;
  cursor: pointer;
}
.todolist__active .task:hover,
.todolist__completed .task:hover {
  color: #265caa;
}
.todolist__active .checkmark,
.todolist__completed .checkmark {
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
  border: 0.1em solid #0b2545;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5em;
  cursor: pointer;
}
.todolist__completed {
  max-height: 38em;
}
.todolist__completed .task {
  text-decoration: line-through;
}
.todolist__completed .checkmark {
  background-color: #0b2545;
}

.activetask {
  padding: 1.5em;
  position: relative;
}
.activetask > * {
  margin-bottom: 1em;
}
.activetask__title {
  color: white;
  text-align: center;
  font-size: 1.5em;
}
.activetask__deadline,
.activetask__status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b2545;
  color: white;
  padding: 0.5em;
}
.activetask__deadline input,
.activetask__status input {
  width: 80%;
  height: 2.5em;
  font-size: 1em;
  border: none;
  padding: 0.25em;
  outline: none;
}
.activetask__status select {
  background-color: white;
  font-size: 1.25em;
  width: 80%;
  outline: none;
  border: none;
  appearance: none;
  cursor: pointer;
}
.activetask__update {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.activetask__update button {
  background-color: #0b2545;
  color: white;
  font-size: 1.25em;
  padding: 0.25em 1em;
  cursor: pointer;
  border: none;
}

.subtask__title,
.attachment__title {
  background-color: #0b2545;
  color: white;
  padding: 0.5em;
}
.subtask__container,
.attachment__container {
  background-color: #eef4ed;
  padding: 0.5em;
}
.subtask__main,
.attachment__main {
  max-height: 12em;
  overflow-y: scroll;
  margin-bottom: 0.25em;
  scrollbar-width: thin;
}
.subtask__button,
.attachment__button {
  text-align: center;
}
.subtask__button .button,
.attachment__button .button {
  background-color: #265caa;
  border: none;
  font-size: 0.8em;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
}

.subtask__container .task {
  padding: 0.5em;
  margin-bottom: 0.25em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.subtask__container .task:hover {
  background-color: #265caa;
  color: white;
  cursor: pointer;
}
.subtask__container .checkmark {
  width: 1.2em;
  height: 1.2em;
  padding: 0.2em;
  border: 0.1em solid #0b2545;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 0.5em;
  cursor: pointer;
}
.subtask__container .checkmark img {
  opacity: 0;
}
.subtask__container .completed {
  text-decoration: line-through;
}
.subtask__container .completed .checkmark {
  background-color: #0b2545;
}
.subtask__container .completed .checkmark img {
  opacity: 1;
}

.attachment__main .file {
  padding: 0.5em;
  margin-bottom: 0.25em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.attachment__main .file:hover {
  background-color: #265caa;
  color: white;
}
.attachment__main .file__buttons {
  display: flex;
  align-items: center;
}
.attachment__main .file__buttons img {
  width: 1.25em;
  margin-right: 0.5em;
  cursor: pointer;
}
.attachment__button input {
  display: none;
}

.form {
  line-height: 2;
  height: 30rem;
}
/*# sourceMappingURL=style.css.map */
