<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <main class="main">
      <nav class="navbar">
        <div class="user">
          <figure class="user__image">
            <img src="./images/dummyProfilePic.png" alt="/" />
          </figure>
          <p class="user__name">Thisis Myname</p>
        </div>
        <div class="navbar__buttons">
          <div class="buttons">
            <a href="#"><img src="./images/settings.png" alt="" /> Settings</a>
          </div>
          <div class="buttons">
            <a href="#"><img src="./images/logout.png" alt="" /> Logout</a>
          </div>
          <div class="todaytask">
            <img src="./images/todaystask.png" alt="" /> Today's Task
            <span class="numtask">5</span>
          </div>
        </div>
        <div class="navbar__taskcontainer">
          <div class="mytask">
            <p class="mytask__title">
              My Task List <img src="./images/caret.svg" alt="" />
            </p>
            <div class="mytask__list">
              <p class="list">List 1</p>
              <p class="list">List 2</p>
              <div class="buttonwrapper">
                <button class="addList">Add New List+</button>
              </div>
            </div>
          </div>
          <div class="workspace">
            <div class="workspace__title">
              Workspace 1 <img src="./images/caret.svg" alt="" />
            </div>
            <div class="workspace__list">
              <p class="list">List 1</p>
              <div class="buttonwrapper">
                <button class="addList">Add New List+</button>
              </div>
            </div>
          </div>
        </div>
        <div class="navbar__button--createworkspace">Create a workspace+</div>
      </nav>
      <section class="dashboard">
        <p class="listname">Active List Name Goes here</p>
        <div class="member__container">
          <p>Members: <span>A, B, C, D</span></p>
          <button>Add Member+</button>
        </div>
        <div class="todolist">
          <div class="todolist__active">
            <div class="task">
              <div class="checkmark">
                <img src="./images/checkmark.svg" alt="" />
              </div>
              This is a task
            </div>
          </div>
          <p class="todolist__subtitle">Completed Tasks</p>
          <div class="todolist__completed">
            <div class="task">
              <div class="checkmark">
                <img src="./images/checkmark.svg" alt="" />
              </div>
              This is a task
            </div>
          </div>
          <div class="todolist__input">
            <input type="text" placeholder="Add a new task" />
          </div>
        </div>
        <div class="activetask">
          <p class="activetask__title">Current Active task</p>
          <div class="activetask__status">
            Status
            <select type="">
              <option value="complete">completed</option>
              <option value="incomplete">Incomplete</option>
            </select>
          </div>
          <div class="activetask__deadline">
            Deadline <input type="datetime-local" />
          </div>
          <div class="subtask">
            <p class="subtask__title">Subtasks</p>
            <div class="subtask__container">
              <div class="subtask__main">
                <div class="task">
                  <div class="checkmark">
                    <img src="./images/checkmark.svg" alt="" />
                  </div>
                  This is some subtask
                </div>
                <div class="task completed">
                  <div class="checkmark">
                    <img src="./images/checkmark.svg" alt="" />
                  </div>
                  This is some subtask
                </div>
              </div>
              <div class="subtask__button">
                <button class="button">Add new subtask+</button>
              </div>
            </div>
          </div>
          <div class="attachment">
            <p class="attachment__title">Attachments</p>
            <div class="attachment__container">
              <div class="attachment__main">
                <div class="file">
                  File One
                  <div class="file__buttons">
                    <img src="./images/downloadFile.svg" alt="/" />
                    <img src="./images/deleteFile.svg" alt="/" />
                  </div>
                </div>
              </div>
              <div class="attachment__button">
                <label for="file" class="button"> Add new attachment+ </label>
                <input id="file" type="file" />
              </div>
            </div>
          </div>
          <div class="activetask__update">
            <button>Update</button>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
